footer.footer 
    img.foot(src="./assets/img/element2.jpg", alt="")
    .container 
        .footer__left
            .logo 
                img(src="./assets/img/logo2.png", alt="")
                .right 
                    .logo__title YA BAO
                    .logo_slogan Дух китайской еды
            ul.menu
                li: a(href="#") Калорийность и состав
                li: a(href="#") Правовая информация
            p Мы в соцсетях
            ul.links
                li: a(href="#") YouTube
                li: a(href="#") Facebook
                li: a(href="#") Instagram
                li: a(href="#") ВКонтакте
            .footer__copy 
                .copyright YaBao Все праав защищены © 2021
                .payments 
                    a(href="#"): img(src="./assets/img/visa.png", alt="") 
                    a(href="#"): img(src="./assets/img/mastercard.png", alt="") 
                    a(href="#"): img(src="./assets/img/paypal.png", alt="") 
        .footer__right
            .question Остались вопросы? А мы всегда на связи:
            ul.socials
                li: a(href="#"): img(src="./assets/img/viber.png", alt="") 
                li: a(href="#"): img(src="./assets/img/skype.png", alt="") 
                li: a(href="#"): img(src="./assets/img/msg.png", alt="") 
                li: a(href="#"): img(src="./assets/img/tg.png", alt="") 
                li: a(href="#"): img(src="./assets/img/fb.png", alt="") 
                li: a(href="#"): img(src="./assets/img/vk.png", alt="") 
                li: a.write(href="#") Написать нам 
            a.phone(href="#") 8 800 333-36-62
            button.callme Заказать звонок

                