section.splide.slider#slider
    .splide__track
        ul.splide__list
            li.splide__slide
                img(src="./assets/img/slider1.jpg", alt="")
            li.splide__slide
                img(src="./assets/img/slider1.jpg", alt="")
            li.splide__slide
                img(src="./assets/img/slider1.jpg", alt="")