mixin quote
    .quote
        img(src="./assets/img/avatar.png", alt="")
        .name lauria_gog
mixin news 
    a.news__box(href="#") 
        img(src="./assets/img/miniproduct.jpg", alt="")
        .info
            .name Карбонара
            .price от 120 ₽
mixin product
    .col-3.col-md-6.col-sm-12
        .product 
            .status NEW
            img(src="./assets/img/product3.jpg", alt="")
            a.title(href="") С креветками и трюфелями
            .text Домашнаяя паста феттуччине, сливочный соус, креветки, трюфельное масло, черный перец, пармезан.350 г
            .product__bottom
                .price от 600 ₽
                button В корзину