.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.m {
    &t-a {
        margin-top: auto;
    }
    &l-a {
        margin-left: auto;
    }
    &r-a {
        margin-right: auto;
    }
    &b-a {
        margin-bottom: auto;
    }
}
.purple {
    color: $purple;
}
.black {
    color: $black;
}
.blue {
    color: $blue;
}


// $purple: #FF2E65;
// $black: #0E0C0D;
// $blue: #E3ECF5;
// $gray: #F3F3F7;
// $text: #686466;
// $avatar: #9D9D9B;
// $noactive: #696F7A;
// $price: #231F20;
