.quote {
    &s {
        margin-bottom: 55px;
        &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    img {
        width: 98px;
        height: 98px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $purple;
        margin-bottom: 17px;
    }
    .name {
        font-size: 18px;
        font-weight: 600;
        color: $avatar;
    }
}