.sale {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 27px;
    display: flex;
    transition: 0.4s;
    &:hover {
        transform: scale(1.03);
    }   
    img {
        object-fit: cover;
        height: 189px;
        width: 100%;
    }
    &.big {
        img {
            height: 405px;
        }
    }
    &__more {
        background-color: $purple;
        color: #fff;
        padding: 10px 40px;
        border-radius: 23px;
        line-height: 28px;
        font-size: 14px;
        margin: auto;
        display: flex;
        font-weight: 700;
        &:hover{
            background-color: darken($purple,10%);
        }
    }
}