a {
    text-decoration: none;
    color: $black;
}
input,
textarea {
    &:focus {
        outline: unset;
    }
}
button {
    border: 0;
    cursor: pointer;
    &:focus {
        outline: unset;
    }
}
ul{
    list-style-type: none;
}