extends ../layouts/main.pug

block content 
    include ../part/_slider.pug
    include ../part/home/_quotes.pug
    include ../part/home/_news.pug
    include ../part/_product.pug
    include ../part/_product.pug
    include ../part/_product.pug