extends ../layouts/main.pug

block content 
    .container 
        .title.large Акции
        .row 
            +blog
            +blog
            +blog 
            +blog
            +blog
            +blog