.container 
    .news
        img.news__el(src="./assets/img/element.png", alt="")
        .title Новинки
        .row 
            .col-3.col-md-6 
                +news
            .col-3.col-md-6 
                +news
            .col-3.col-md-6 
                +news
            .col-3.col-md-6 
                +news
