.container
    .quotes
        .title Отзывы
        .quotes__row
            +quote
            +quote 
            +quote 
            +quote 
            +quote 
            +quote 
            +quote 
            +quote 