.container 
    .title.big.text-center 
        | Наши 
        span акции
    .row
        .col-6.col-md-12
            a.big.sale(href="#")
                img(src="./assets/img/banner.jpg", alt="") 
        .col-6.col-md-12 
            .row 
                .col-6.col-md-6 
                    a.sale(href="#")
                        img(src="./assets/img/banner.jpg", alt="") 
                .col-6.col-md-6 
                    a.sale(href="#")
                        img(src="./assets/img/banner.jpg", alt="") 
                .col-6.col-md-6 
                    a.sale(href="#")
                        img(src="./assets/img/banner.jpg", alt="") 
                .col-6.col-md-6 
                    a.sale(href="#")
                        img(src="./assets/img/banner.jpg", alt="") 
    button.sale__more Все акции