* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

body {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

@import './part/splide.min.scss';
@import './part/var';
@import './part/class';
@import './part/tag';
@import './part/header';
@import './part/footer';
@import './part/grid';
@import './part/slider';
@import './part/quote';
@import './part/news';
@import './part/product';
@import './part/sale';
@import './part/delivery';
@import './part/blog';

@import './part/media'